{
	"semi": true,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 80,
	"singleQuote": true,
	"proseWrap": "always",
	"insertPragma": false,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"requirePragma": false,
	"arrowParens": "always",
	"trailingComma": "none",
	"jsxBracketSameLine": false
}
